*{
  padding:0px;
  margin:0px;
}
.heading{
  text-align:center;
  margin-top:20px;
  color:black;
}
.table-main{
  margin-top: 20px;
  text-align: center;
}
.table-main{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-collapse: collapse;
}

.pagination button {
  background: green;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination span {
  background: green;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background: lightgray;
  cursor: not-allowed;
}
